<header class="main-header">
  <nav>
      <ul class="menu">
          <li class="menu__list-item"><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
          <li class="menu__list-item"><a routerLink="/assets-component" routerLinkActive="active">Assets</a></li>
          <li class="menu__list-item"><a routerLink="/details-component" routerLinkActive="active">Details</a></li>
      </ul>
  </nav>
</header>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>