<div *ngIf="listtype===0">
  <div class="stock-list__grid-cell"><a [routerLink]="['/details-component', stock.symbol]" routerLinkActive="active">{{ stock.symbol }}</a></div>
<div class="stock-list__grid-cell">{{ stock.price | number:'.1-2' }}</div>
<div class="stock-list__grid-cell">
  <a (click)="buyStock(stocksymbol)"
    ><span class="btn-transaction btn-transaction--buy">buy</span></a
  >
</div>
<div class="stock-list__grid-cell">
  <a (click)="sellStock(stocksymbol)"
    ><span class="btn-transaction btn-transaction--sell">sell</span></a
  >
</div>
<div class="stock-list__grid-cell">{{ stock.allocation }}</div>
</div>



<div *ngIf="listtype===1">
  <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text"><a [routerLink]="['/details-component', stock.symbol]" routerLinkActive="active">{{ stock.symbol }}</a></span></div>
  <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">{{ stock.allocation }}</span></div>
  <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">{{ stock.price | number:'.1-2' }}</span></div>
  <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">{{ stock.allocation*stock.price | number:'.1-2'}}</span></div>
  <div class="stock-transactions__grid-cell center">
    <a (click)="buyStock(stocksymbol)"
    ><span class="btn-transaction btn-transaction--buy">buy</span></a
  >
  &nbsp;
  <a (click)="sellStock(stocksymbol)"
    ><span class="btn-transaction btn-transaction--sell">sell</span></a
  >
  </div>
</div>

<div class="modal modal__buy">
  <div class="modal__overlay"></div>
  <div class="modal__content modal__content--large">
    <div class="modal__close">x</div>
    <h2 class="modal__h2">Buy stock</h2>
    <select class="modal__dropdown">
      <option value="AMZN">Amazon</option>
      <option value="DSNY">Disney</option>
      <option value="HULU">Hulu</option>
      <option value="NTFLX">Netflix</option>
    </select>

    <input
      class="modal__number-box"
      type="number"
      name="quantity"
      placeholder="enter amount"
    />

    <button class="modal__btn">Buy</button>
  </div>
</div>
<div class="modal modal__sell">
  <div class="modal__overlay"></div>
  <div class="modal__content modal__content--large">
    <div class="modal__close">x</div>
    <h2 class="modal__h2">Sell stock</h2>
    <select class="modal__dropdown">
      <option value="AMZN">Amazon</option>
      <option value="DSNY">Disney</option>
      <option value="HULU">Hulu</option>
      <option value="NTFLX">Netflix</option>
    </select>

    <input
      class="modal__number-box"
      type="number"
      name="quantity"
      placeholder="enter amount"
    />

    <button class="modal__btn">Sell</button>
  </div>
</div>
